# https://tamas.dev/aws/ecs/haproxy/nginx/certbot/microservices/containers/route53/dns/srv/2019/10/18/run-your-ecs-cluster-with-service-discovery-and-haproxy-for-8-a-month.html
global
    log         127.0.0.1 local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    stats socket /var/lib/haproxy/stats

    ssl-default-bind-ciphers PROFILE=SYSTEM
    ssl-default-server-ciphers PROFILE=SYSTEM

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

# frontend prometheus
#   bind *:8405
#   mode http
#   http-request use-service prometheus-exporter if { path /metrics }
#   no log

resolvers awsvpc
  nameserver dns1 10.1.0.2:53
  resolve_retries 3
  timeout retry 1s
  accepted_payload_size 8192

frontend www-http
    bind *:80
    http-request add-header X-Forwarded-Proto http

    acl gratzi-io hdr_end(host) -i .gratzi.io
    acl guildvaults-com hdr_end(host) -i .guildvaults.com
    acl ticmetactoe-com hdr_end(host) -i .ticmetactoe.com
    acl raidtimers-com hdr_end(host) -i .raidtimers.com

    use_backend gratzi-io if gratzi-io
    use_backend guildvaults-com if guildvaults-com
    use_backend ticmetactoe-com if ticmetactoe-com
    use_backend raidtimers-com if raidtimers-com

frontend www-https
    bind *:443 ssl crt /etc/haproxy/certs/
    http-request add-header X-Forwarded-Proto https
    http-request set-header X-SSL %[ssl_fc]

    acl gratzi-io hdr_end(host) -i .gratzi.io
    acl guildvaults-com hdr_end(host) -i .guildvaults.com
    acl ticmetactoe-com hdr_end(host) -i .ticmetactoe.com
    acl raidtimers-com hdr_end(host) -i .raidtimers.com

    use_backend gratzi-io if gratzi-io
    use_backend guildvaults-com if guildvaults-com
    use_backend ticmetactoe-com if ticmetactoe-com
    use_backend raidtimers-com if raidtimers-com

backend gratzi-io
   redirect scheme https code 301 if !{ ssl_fc }
   server-template srv 2 _gratzi-io.internal check resolvers awsvpc resolve-opts allow-dup-ip init-addr last,libc,none

backend guildvaults-com
   redirect scheme https code 301 if !{ ssl_fc }
   server-template srv 2 _guildvaults-com.internal check resolvers awsvpc resolve-opts allow-dup-ip init-addr last,libc,none

backend ticmetactoe-com
   redirect scheme https code 301 if !{ ssl_fc }
   server-template srv 2 _ticmetactoe-com.internal check resolvers awsvpc resolve-opts allow-dup-ip init-addr last,libc,none

backend raidtimers-com
   redirect scheme https code 301 if !{ ssl_fc }
   server-template srv 2 _raidtimers-com.internal check resolvers awsvpc resolve-opts allow-dup-ip init-addr last,libc,none
